@using Microsoft.AspNetCore.Components
@using OpenAccount.Data

@inject TransaksiBaru trxbaru 

<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row">
            <div class="col-xl-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <span class="badge badge-primary" style="margin-bottom: 2rem; font-size: 20px;">Buka Rekening</span><br>

                    <h3 style="color: #00529C;">Lengkapi Informasi Tentang Anda</h3>
                </div>
                <form>
                    <div class="form-row" style="padding: 2rem 0rem;">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4" style="font-weight: 600; font-size: 18px;">Nama Gadis Ibu Kandung</label>
                            @if (strnamaibu == string.Empty)
                            {
                                <input type="text" class="form-control" placeholder="nama gadis ibu kandung" @onclick="inputField1">
                            }
                            else
                            {
                                <input type="text" class="form-control" @bind="strnamaibu" @onclick="inputField1">
                            }
                        </div>
                        <div class="form-group col-md-6">
                            <label for="input_field_1" style="font-weight: 600; font-size: 18px;">Agama</label>
                            <select class="form-control" id="input_field_1" @bind="stragama">
                                <option disabled selected>-Pilih salah satu-</option>
                                <option>Kristen</option>
                                <option>Katolik</option>
                                <option>Islam</option>
                                <option>Hindu</option>
                                <option>Buddha</option>
                                <option>Konghucu</option>
                            </select>
                            <!-- <input  type="text" class="form-control" id="input_field_1" pattern="[1 -8]*" placeholder="-pilih salah satu-" maxlength="2" required="required"> -->
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="input_field_2" style="font-weight: 600; font-size: 18px;">Status Perkawinan</label>
                            <select class="form-control" id="input_field_1" @bind="strperkawinan">
                                <option disabled selected>-Pilih status perkawinan-</option>
                                <option>Belum Kawin</option>
                                <option>Kawin</option>
                                <option>Cerai Mati</option>
                            </select>
                            <!-- <input type="text" class="form-control" id="input_field_2"  placeholder="No. halaman yang akan dicetak" maxlength="1" required="required"> -->
                        </div>
                        <div class="form-group col-md-6">
                            <label for="input_field_2" style="font-weight: 600; font-size: 18px;">Status Tempat Tinggal</label>
                            <select class="form-control" id="input_field_1" @bind="strstatustinggal">
                                <option disabled selected>-Pilih status tempat tinggal-</option>
                                <option>Milik Sendiri</option>
                                <option>Nyewa</option>
                                <option>Kredit Rumah</option>
                            </select>
                            <!-- <input type="text" class="form-control" id="input_field_2"  placeholder="No. halaman yang akan dicetak" maxlength="1" required="required"> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck" @bind="flagSesuai">
                            <label class="form-check-label" for="gridCheck" >
                                Alamat tinggal saat ini sesuai KTP
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xl-6 order-1 order-lg-2 hero-img" data-aos="fade-left" style="padding: 0.5rem;">
                <div class="num-button2" style="margin-top: 10%;">
                    <button class="key-num2 btn4" value="1" @onclick="@(() => InputData("1"))">1</button>
                    <button class="key-num2 btn4" value="2" @onclick="@(() => InputData("2"))">2</button>
                    <button class="key-num2 btn4" value="3" @onclick="@(() => InputData("3"))">3</button>
                    <button class="key-num2 btn4" value="4" @onclick="@(() => InputData("4"))">4</button>
                    <button class="key-num2 btn4" value="5" @onclick="@(() => InputData("5"))">5</button>
                    <button class="key-num2 btn4" value="6" @onclick="@(() => InputData("6"))">6</button>
                    <button class="key-num2 btn4" value="7" @onclick="@(() => InputData("7"))">7</button>
                    <button class="key-num2 btn4" value="8" @onclick="@(() => InputData("8"))">8</button>
                    <button class="key-num2 btn4" value="9" @onclick="@(() => InputData("9"))">9</button>
                    <button class="key-num2 btn4" value="0" @onclick="@(() => InputData("0"))">0</button>

                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("Q"))">Q</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("W"))">W</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("E"))">E</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("R"))">R</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("T"))">T</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("Y"))">Y</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("U"))">U</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("I"))">I</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("O"))">O</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("P"))">P</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("A"))">A</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("S"))">S</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("D"))">D</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("F"))">F</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("G"))">G</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("H"))">H</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("J"))">J</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("K"))">K</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("L"))">L</b></button><br>

                    <button class="key-num3 btn4"><b class="teks-bold">!#$</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("Z"))">Z</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("X"))">X</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("C"))">C</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("V"))">V</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("B"))">B</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("N"))">N</b></button>
                    <button class="key-num2 btn4"><b class="teks-bold" @onclick="@(() => InputData("M"))">M</b></button>
                    <button class="key-num4 btn4"><b class="teks-bold" @onclick="RemoveData">Hapus</b></button>

                    <button class="key-num2 btn4" value="1" @onclick="@(() => InputData("@"))"><b class="teks-bold">@tomboladd</b></button>
                    <button class="key-num2 btn4" value="2" @onclick="@(() => InputData(","))">,</button>
                    <button class="key-num5 btn4" value="3" @onclick="@(() => InputData(" "))">Space</button>
                    <button class="key-num2 btn4" value="4" @onclick="@(() => InputData("."))">.</button>
                    <button class="key-num6 btn4" value="5" @onclick="@(() => InputData(".COM"))"><b class="teks-bold">.com</b></button>
                    <button class="key-num6 btn4" value="6" @onclick="@(() => InputData(".CO.ID"))"><b class="teks-bold">.co.id</b></button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->
<!-- ======= Footer ======= -->
<footer id="footer" class="fixed-bottom">
    <div class="container" style="display: flex;">
        <div class="col-xl-2 order-1 order-lg-1">
            <button type="button" class="btn btn-primary" style="background-color: #4E4E4E;" @onclick="Home">Batal</button>
        </div>
        <div class="col-xl-8 order-2 order-lg-2">
            <ol class="track-progress" style="margin-left: 0%; margin-bottom: 2%;">
                <li class="done">
                    <em>1</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="done">
                    <em>2</em>
                    <!-- <span>T & C</span> -->
                </li>
                <li class="done">
                    <em>3</em>
                    <!-- <span>Menu</span> -->
                </li>
                <li class="done">
                    <em>4</em>
                    <!-- <span>Verification</span> -->
                </li>
                <li class="todo">
                    <em>5</em>
                    <!-- <span>Insert Money</span> -->
                </li>
                <li class="todo">
                    <em>6</em>
                    <!-- <span>Done</span> -->
                </li>
            </ol>
        </div>
        <div class="col-xl-2 order-3 order-lg-3">
            <button class="btn btn-primary" type="button" style="float: right;" @onclick="Selanjutnya">Lanjut</button>
        </div>
    </div>
</footer><!-- End Footer -->

@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private string tomboladd = "@";
    private string strnamaibu = string.Empty;
    private string stragama = string.Empty;
    private string strperkawinan = string.Empty;
    private string strstatustinggal = string.Empty;
    private bool flagSesuai = false;
    private string isTextField = string.Empty;

    private async Task Home()
    {
        OnClick.InvokeAsync("home");
    }

    private async Task Selanjutnya()
    {
        trxbaru.setNasabahBaru(strnamaibu, stragama, strperkawinan, strstatustinggal, flagSesuai);
        OnClick.InvokeAsync("bukarekeninginputdata2");
    }

    private void inputField1()
    {
        isTextField = "1";
    }

    private void InputData(string strinput)
    {
        if (isTextField == "1")
        {
            strnamaibu += strinput;
        }
    }

    private void RemoveData()
    {
        if (isTextField == "1")
        {
            if (strnamaibu.Length <= 0)
            {
                strnamaibu = "";
            }
            else
            {
                strnamaibu = strnamaibu.Substring(0, strnamaibu.Length - 1);
            }
        }
    }
}
